* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #222;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1518770660439-4636190af475') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 50px;
    animation: fadeIn 2s ease;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background:rgba(149, 91, 4, 0.967);
    color: white;
    margin-top: 20px;
    border-radius: 6px;
}

/* FEATURES */
.features {
    padding: 60px 20px;
    text-align: center;
}

.feature-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    font-size: 20px;
    width: 250px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .hero-content h1 {
        font-size: 32px;
    }
}
